/* Global Resets */
* {
    box-sizing: border-box;
    margin: 0;
    font-family:Verdana;
}

:root{
    --background-primary: #ffffff;
    --background-secondary: #fefaf5;
    --text: #335476;
    --highlight: #db7a4e;
}

html,
body {
    height: 100%;
    font-size: 10px;;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: var(--text);
}

ul, 
menu {
    list-style: none;
    padding:0;
}

a,
a:link,
a:visited {
    text-decoration:none;
    color:var(--text);

}




/* Header */

.header {
    height:5.5rem;
    width:87%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__icon {
    font-size:1.2rem;
    font-weight:bolder;
}

.header__nav{

}

.header__menu{
    display:flex;
    gap: 1.4rem;
    justify-content:space-around;
    width:26rem;
}
.header__menu-item {
padding:1rem 0;
font-size: 1.4rem;
font-weight: 300;
}

.header__menu-item--current{
    border-bottom: 4px solid var(--highlight);
}

/* Footer */

.footer{
background-color: var(--background-secondary);

padding:4.3rem 2.1rem;
}
.footer-section{
    display:flex;
    justify-content: space-between;
    width:69%;
    margin:0 auto;
}
.footer__column{

}

.footer__column-title{
font-size:2.4rem;
font-weight:bolder;
margin-bottom: 2.2rem ;
}

.footer__column-subtitle{
color:var(--highlight);
margin-bottom:1rem;
}
.footer__column-info{
font-size:1.45rem;
}
.footer__sub-column{
display:flex;
gap:3rem;
margin-top: 1rem;

}
.footer__icon{
    height:2.5rem;
    align-self:flex-end;
}